# Supervised Machine Learning with Time Series

blah

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#from statsmodels.graphics.tsaplots import plot_acf
#from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.api as sm

from tsfresh import extract_features, select_features, extract_relevant_features
from tsfresh.utilities.dataframe_functions import impute

np.random.seed(23)

In [7]:
def get_data():
    df = sm.datasets.co2.load_pandas().data
    df.index = pd.to_datetime(df.index)
    df = df.resample('D').mean().interpolate('linear')
    return df

In [10]:
df = get_data()
df.head()

                   co2
1958-03-29  316.100000
1958-03-30  316.271429
1958-03-31  316.442857
1958-04-01  316.614286
1958-04-02  316.785714

In [23]:
df = df.head(1000).copy()
df['id'] = np.ones(len(df)).astype(int)
df['time'] = df.index
feats = extract_features(df, column_id='id', column_sort='time', column_value='co2', n_jobs=4)

Feature Extraction:   0%|          | 0/1 [00:00<?, ?it/s]

Feature Extraction: 100%|██████████| 1/1 [00:02<00:00,  2.62s/it]

In [26]:
feats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 1 to 1
Columns: 794 entries, co2__abs_energy to co2__variance_larger_than_standard_deviation
dtypes: float64(794)
memory usage: 6.2 KB

In [45]:
df['y'] = df.co2.shift(1).fillna(method='bfill')
df.head()

                   co2  id       time           y
1958-03-29  316.100000   1 1958-03-29  316.100000
1958-03-30  316.271429   1 1958-03-30  316.100000
1958-03-31  316.442857   1 1958-03-31  316.271429
1958-04-01  316.614286   1 1958-04-01  316.442857
1958-04-02  316.785714   1 1958-04-02  316.614286

In [47]:
#feats_filt = select_features(feats,df.y)